<section class="content-header">
    <h1>
        Adviser Profile
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/advisers"><i class="fa fa-dashboard"></i> Advisers</a></li>
        <li class="active">Adviser profile</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="Theme/dist/img/user4-128x128.jpg" alt="User profile picture">
                    <h3 class="profile-username text-center">{{adviser.fullName}}</h3>
                    <p class="text-muted text-center">{{adviser.companyName}}</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Followers</b> <a class="pull-right">1,322</a>
                        </li>
                        <li class="list-group-item">
                            <b>Following</b> <a class="pull-right">543</a>
                        </li>
                        <li class="list-group-item">
                            <b>Friends</b> <a class="pull-right">13,287</a>
                        </li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn-primary btn-block"><b>Send Message</b></a>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">About Me</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-phone margin-r-5"></i> Phone number</strong>
                    <p class="text-muted">
                        {{adviser.phoneNumber}}
                    </p>
                    <hr>
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                    <p class="text-muted">Malibu, California</p>
                    <hr>
                    <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
                    <p>
                        <span class="label label-danger">UI Design</span>
                        <span class="label label-success">Coding</span>
                        <span class="label label-info">Javascript</span>
                        <span class="label label-warning">PHP</span>
                        <span class="label label-primary">Node.js</span>
                    </p>
                    <hr>
                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>

        <!-- /.col -->
        <div class="col-md-9">
            <uib-tabset active="active" class="nav-tabs-custom">
                <uib-tab index="0" heading="Appointment Slots">
                    <div class="box box-solid box-primary" style="max-height:682px;overflow-y:scroll;">
                        <div class="box-header with-border">
                            <div class="row">
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-default btn-sm" ng-if="!isToday(startingDate)" ng-click="previousWeek()"><i class="fa fa-chevron-left"></i></button>
                                </div>
                                <div class="col-md-10 text-center" >
                                    {{startingDate | date:'MMMM dd'}} - {{dates[6] | date:'MMMM dd'}}
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="nextWeek()"><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body" id="appointmentSlotsBody">
                            @*<table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td>Time</td>
                                        <td ng-repeat="item in dates">
                                            {{item | date:'EEEE'}}
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="time in times">
                                        <td>{{time}}</td>
                                        <td ng-repeat="date in dates" align="center" valign="middle">
                                            <button class="btn btn-sm"><i class="fa fa-calendar-check-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>*@
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
