<div class="box box-primary">
    <div class="box-header with-border" ng-if="title != undefined && title!=null && title.length > 0">
        <h3 class="box-title">{{title}}</h3>
    </div>
    <div class="box-body" ng-transclude>

    </div>
</div>